/*
  Colors
*/
:root {
  /* General */
  --primary-color: #FE0000;
  --primary-color-rgb: 63 162 246;
  --secondary-color: #FE0000;

  /* States */
  --error-color: #e25050;
  --success-color: #1fbe96;
  --warning-color: #fea83a;
  
  /* Backgrounds */
  --background-color: #121212;
  --background-color-rgb: 243 244 248;
  --background-color2: #272727;
  --background-linear: linear-gradient(to left, #161616, #232323);

  --seat-reserved-color: #CECECE;
  --vip-color: #ff6600;

  /* Text */
  --title-color: #ffffff;
  --subtitle-color: #303030;
  --text-color: #ffffff;
  --text-color-rgb: 255, 255, 255;
  --link-color: var(--primary-color);
}
