/* Dark Mode */
:root {
  /* States */
  --dark-success-color: #16e2a6;

  /* Backgrounds */
  --dark-background-color: #121212;
  --dark-background-color-rgb: 18 18 18;
  --dark-background-color2: #282a36;

  /* Text */
  --dark-title-color: #fff;
  --dark-subtitle-color: rgba(255, 255, 255, 0.5);
  --dark-text-color: #fff;

  /* Buttons */
  --dark-button-background-disabled: rgb(20 21 26 / 50%);
  --dark-button-color-disabled: #9CA3AF;
}